.mat-column-status {
  flex: none;
  width: 75px;
}

.mat-column-id {
  flex: none;
  width: 75px;
}

.mat-column-name {
  flex: none;
  width: 70%;
}

.mat-column-action {
  flex: none;
  width: 50px;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

